/* 
font-size: 16px-32px >=400  1.5-2
header: <=50px, <=600 <1.5
colors: 

/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #f783ac
- Tints:
#fef3f7
#fae5d3
#de769b

- Shades: 
#7c4256
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Serif", serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
  color: #555;
}

/************* GENERAL REUSABLE COMPONENTS *********************/
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
  column-gap: 6.4rem;
  row-gap: 3.2rem;
}

.grid.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid.grid--4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid.grid--5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid.grid--center-vertical {
  align-items: center;
}

.hero__heading,
.introduction__heading,
.text__tertiary {
  font-weight: 800;
  letter-spacing: -0.3px;
  color: #343a40;
}

.header__logo,
.footer__logo {
  height: 6.8rem;
}

/************* HEADER *********************************/
.header {
  background-color: #fef3f7;
  height: 9.6rem;
  padding: 0 4.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.list__link:link,
.list__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;

  transition: all 0.3s;
}

.list__link:hover,
.list__link:active {
  color: #7c4256;
}

.list__link.list__link--cta:link,
.list__link.list__link--cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #f783ac;
}

.list__link.list__link--cta:hover,
.list__link.list__link--cta:active {
  background-color: #de769b;
}

.navigation__mobile {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.navigation__icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #333;
}

.navigation__icon[alt="close icon"] {
  display: none;
}

/************* HERO SECTION ***************************/
.hero {
  background-color: #fef3f7;
  padding: 4.6rem 0 9.6rem 0;
}

.hero__container {
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3.2rem;
}

.hero__image {
  display: flex;
  justify-self: end;
}

.hero__image img {
  max-width: 100%;
  max-height: 55rem;
}

.hero__heading {
  font-family: "Roboto", sans-serif;
  font-size: 5.2rem;

  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.hero__description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 0.4rem;
}

.hero__text small {
  display: block;
}

.hero__btn:link,
.hero__btn:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  color: #555;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 4.8rem;

  transition: 0.3s;
}

.hero__btn:hover,
.hero__btn:active {
  background-color: #fde6ee;
  box-shadow: inset 0 0 0 3px #fff;
}

.hero__btn--primary:link,
.hero__btn--primary:visited {
  background-color: #f783ac;
  color: #fff;
}

.hero__btn--primary:hover,
.hero__btn--primary:active {
  background-color: #de769b;
  box-shadow: none;
}

.hero__proof {
  margin-top: 8rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.proof__image {
  display: flex;
}

.proof__text {
  font-size: 1.8rem;
  font-weight: 600;
}

.proof__image img {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fef3f7;
}

.proof__image img:last-child {
  margin: 0;
}

.proof__text span {
  color: #7c4256;
  font-weight: 700;
}

/************* INTRODUCTION SECTION ***************************/
.introduction {
  padding: 9.6rem 2.4rem 3.2rem;
}

.introduction__heading {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.introduction__subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #de769b;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.introduction__image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.introduction__image img {
  max-width: 50%;
}

.introduction__image::before,
.introduction__image::after {
  content: "";
  display: block;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.introduction__image::before {
  z-index: -2;
  background-color: #fde6ee;
  padding-bottom: 70%;
  width: 70%;
}

.introduction__image::after {
  z-index: -1;
  background-color: #fddae6;
  padding-bottom: 55%;
  width: 55%;
}

.text__number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.text__tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.text__description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/*************  FEATURED SECTION ***************************/
.featured {
  padding: 4.8rem 0 3.2rem 0;
}

.featured__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #343a40;
}

.featured__logos {
  display: flex;
  justify-content: center;
  gap: 6.4rem;
}

.featured__logos img {
  height: 8rem;
  object-fit: cover;
  filter: grayscale(100%);
  opacity: 50%;
  z-index: -3;
}

/*
.cta__small {
  display: block;
  text-align: center;
} */
/*************  BENEFIT SECTION ***************************/
.benefit {
  padding: 6.4rem 0 1.6rem 0;
  /* background-color: #fddae6; */
}

.benefit__heading {
  text-align: center;
  margin-bottom: 3.6rem;
}

.benefit__list {
  list-style: none;
}

.benefit__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.benefit__icon {
  width: 5.2rem;
  height: 5.2rem;
}

.benefit__text {
  margin-bottom: 0.4rem;
}

.benefit__description {
  padding: 0 4rem;
  text-align: justify;
}

/*************  SOCIAL PROOF SECTION ***************************/
.social-proof {
  padding: 8rem 0 4.3rem;
}

.social-proof__heading {
  text-align: center;
}

.carousel {
  max-width: 80rem;
  margin: 5rem auto 10rem auto;
  background-color: #de769b;
  color: #333;
  border-radius: 8px;
  padding: 3.2rem 4.8rem 3.2rem 8.6rem;
  position: relative;

  display: flex;
  align-items: center;
  gap: 8.6rem;
}

.carousel__img {
  height: 23rem;
  width: 23rem;
  object-fit: cover;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.carousel__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 3.2rem;
  /* color: #c6fcf5; */
}

.carousel__author {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
  /* color: #c3fae8; */
}

.carousel__job {
  /* color: #c3fae8; */
  font-size: 1.2rem;
}

.carousel__btn {
  background-color: #fff;
  border: none;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carousel__btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.carousel__icon {
  height: 2.4rem;
  width: 2.4rem;
  stroke: #de769b;
}

.carousel__dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 4.8rem);

  display: flex;
  gap: 1.2rem;
}

.carousel__dot {
  height: 1.2rem;
  width: 1.2rem;
  border: 2px solid #de769b;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
}

.carousel__dot--fill {
  background-color: #de769b;
}

/*************  FAQ SECTION ***************************/
.faq {
  padding: 4.3rem 0;
  background-color: #fddae6;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.faq__heading {
  text-align: center;
  margin-bottom: 2.4rem;
}

.faq__number,
.faq__text {
  font-size: 2.4rem;
  font-weight: 500;
  color: #7c4256;
}

.faq__number:hover,
.faq__number:hover {
  cursor: pointer;
}

.faq__hiddenbox {
  grid-column: 2;
  display: none;
}

.faq__hiddenbox > p {
  line-height: 1.6;
  margin-bottom: 1.2rem;
}

.faq__hiddenbox > ul {
  color: #868e96;
  margin-left: 1.8rem;
  margin-bottom: 1.6rem;
  list-style-type: disc;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.faq__hiddenbox > ul:last-child {
  margin: 0;
}

.faq__item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 2.4rem;
  align-items: center;
  background-color: #fff;

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
}

.faq__item:hover {
  cursor: pointer;
}

.faq__icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #7c4256;
}

.faq__icon:hover {
  cursor: pointer;
}

/*************  CTA SECTION ***************************/
.cta {
  padding: 9.6rem 0;
}

.cta__card {
  border-radius: 10px;
  padding: 3.2rem 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.2rem;

  /* background: #de769b; */
  /* background-image: linear-gradient(45deg, #F6F5F2, #F0EBE3, #F3D0D7, #FFEFEF); */
  background-image: linear-gradient(45deg, #F875AA, #FFDFDF, #FFF6F6, #AEDEFC);
  background-size: 200%;
  animation: bg-animation 20s infinite alternate;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.cta__heading {
  margin-bottom: 2.4rem;
}

.cta__btn {
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  padding: 1.2rem;
  color: #fff;
  background-image: linear-gradient(45deg, #86469C, #BC7FCD, #FB9AD1, #FFCDEA);
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.cta__btn:hover,
.cta__btn:focus {
  background-position: right;
}

/*************  HASHTAG SECTION ***************************/
.hashtag__list {
  text-align: center;
}

.hashtag__list li {
  display: inline-block;
  margin-right: 1.2rem;
}

.hashtag__list li a {
  color: #64b3e3;
  text-decoration: none;
}

/*************  FOOTER SECTION ***************************/
.footer {
  padding: 2.4rem 0;
  border-top: 1px solid #999;
}

.footer__social__links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

address p a {
  text-decoration: none;
}

address p a:link,
address p a:visited {
  color: #333;
}

.footer__icon {
  max-height: 5.2rem;
}

/*************  Queries SECTION ***************************/
@media (max-width: 84em) {
  .hero__container {
    max-width: 120rem;
  }

  .hero__heading {
    font-size: 4.4rem;
  }

  .carousel__img {
    height: 20rem;
    width: 20rem;
  }

  .carousel__dot {
    height: 1.6rem;
    width: 1.6rem;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56, 25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 3.2rem;
  }

  .introduction__heading {
    font-size: 3.6rem;
  }

  .text__tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero__container {
    gap: 4.8rem;
  }

  .navigation__list {
    gap: 3.2rem;
  }
}

@media (max-width: 65.5em) {
  html {
    font-size: 50%;
  }

  .hero__container {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }

  .hero__text {
    text-align: center;
  }

  .hero__proof {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .hero__image {
    justify-content: center;
    justify-self: center;
  }

  .hero__image img {
    max-width: 80%;
  }

  .header__logo,
  .footer__logo {
    height: 5.2rem;
  }

  .text__number {
    font-size: 7.4rem;
  }
}

@media (max-width: 52.5em) {
  html {
    font-size: 43.75%;
  }

  small {
    color: #212529;
  }

  .carousel {
    width: 64rem;
    flex-direction: column;
    padding-inline: 4.8rem;
  }

  .carousel__btn {
    height: 8rem;
    width: 8rem;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

@media (max-width: 32.5em) {
  /* html {
    font-size: 31.25%;
  } */

  /* menu  */
  .navigation__mobile {
    display: block;
  }

  .carousel__dot {
    height: 2rem;
    width: 2rem;
  }

  .header__navigation {
    background-color: rgb(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s;
    opacity: 0%;
    pointer-events: none;
    visibility: hidden;
  }

  .header--open .header__navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .header--open .navigation__mobile {
    z-index: 1;
  }

  .header--open .navigation__icon[alt="close icon"] {
    display: block;
  }

  .header--open .navigation__icon[alt="menu icon"] {
    display: none;
  }

  .navigation__list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .list__link:link,
  .list__link:visited {
    font-size: 3rem;
  }
}

@media (max-width: 28em) {
  /* .benefit__description {
    padding-inline: 2rem;
  } */

  .footer .container.grid.grid--3 {
    grid-template-columns: 1fr 1fr;
  }

  .footer__navigation {
    grid-column: span 2;
    justify-self: center;
  }
}

@media (max-width: 27.2em) {
  .benefit__list.grid.grid--3 {
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
  }

  .benefit .container {
    padding-inline: 8.4rem;
  }

  .benefit__text {
    margin-top: 1.6rem;
  }

  .benefit__description {
    padding-inline: 2rem;
  }

  .benefit__list li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .benefit__list li:nth-child(2) {
    /* background-color: #7c4256; */
    grid-row: 2 / 3;
  }

  .benefit__list li:nth-child(3) {
    /* background-color: #7c4256; */
    grid-row: 3 / 4;
  }

  .benefit__icon {
    width: 6.4rem;
    height: 6.4rem;
  }
  .carousel {
    width: 48rem;
  }
}

/* @media (max-width: 25.35em) {
  .carousel {
    width: 48rem;
  }
} */

@media (max-width: 22.35em) {
  .carousel {
    width: 36rem;
  }
}

@media (max-width: 18em) {
  .hero__btn:link,
  .hero__btn:visited {
    margin-top: 2.4rem;
  }

  .carousel {
    width: 24rem;
  }

  .footer .container.grid.grid--3 {
    grid-template-columns: 1fr;
  }

  .carousel {
    max-width: 36rem;
  }

  .footer__navigation {
    grid-column: span 1;
    justify-self: center;
  }
  /* 
  .benefit__description {
    padding-inline: 2rem;
  } */

  .footer {
    text-align: center;
  }
}

@media (max-width: 15.7em) {
  .footer .container.grid.grid--3 {
    grid-template-columns: 1fr;
  }

  .carousel {
    max-width: 36rem;
  }

  .footer__navigation {
    grid-column: span 1;
    justify-self: center;
  }
  /* 
  .benefit__description {
    padding-inline: 2rem;
  } */

  .footer {
    text-align: center;
  }
}
